<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="refGeoParcelle">
            <h2><span jhiTranslate="sidotApp.refGeoParcelle.detail.title">Ref Geo Parcelle</span> {{ refGeoParcelle.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.refGeoParcelle.parcelleName">Parcelle Name</span></dt>
                <dd>
                    <span>{{ refGeoParcelle.parcelleName }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.refGeoParcelle.lot">Lot</span></dt>
                <dd>
                    <div *ngIf="refGeoParcelle.lot">
                        <a [routerLink]="['/ref-geo-lot', refGeoParcelle.lot?.id, 'view']">{{ refGeoParcelle.lot?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ref-geo-parcelle', refGeoParcelle.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
