<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="refGeoCommune">
            <h2><span jhiTranslate="sidotApp.refGeoCommune.detail.title">Ref Geo Commune</span> {{ refGeoCommune.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sidotApp.refGeoCommune.communeName">Commune Name</span></dt>
                <dd>
                    <span>{{ refGeoCommune.communeName }}</span>
                </dd>
                <dt><span jhiTranslate="sidotApp.refGeoCommune.province">Province</span></dt>
                <dd>
                    <div *ngIf="refGeoCommune.province">
                        <a [routerLink]="['/ref-geo-province', refGeoCommune.province?.id, 'view']">{{ refGeoCommune.province?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sidotApp.refGeoCommune.typecommune">Typecommune</span></dt>
                <dd>
                    <div *ngIf="refGeoCommune.typecommune">
                        <a [routerLink]="['/ref-geo-type-commune', refGeoCommune.typecommune?.id, 'view']">{{ refGeoCommune.typecommune?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ref-geo-commune', refGeoCommune.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
