<div>
    <h2 id="page-heading">
        <span jhiTranslate="sidotApp.refGeoCommune.home.title">Ref Geo Communes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ref-geo-commune" [routerLink]="['/ref-geo-commune/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sidotApp.refGeoCommune.home.createLabel">
            Create a new Ref Geo Commune
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="refGeoCommunes?.length === 0">
        <span jhiTranslate="sidotApp.refGeoCommune.home.notFound">No refGeoCommunes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="refGeoCommunes && refGeoCommunes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="communeName"><span jhiTranslate="sidotApp.refGeoCommune.communeName">Commune Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="localite.id"><span jhiTranslate="sidotApp.refGeoCommune.localite">Localite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let refGeoCommune of refGeoCommunes ;trackBy: trackId">
                    <td><a [routerLink]="['/ref-geo-commune', refGeoCommune.id, 'view']">{{ refGeoCommune.id }}</a></td>
                    <td>{{ refGeoCommune.communeName }}</td>
                    <td>
                        <div *ngIf="refGeoCommune.localite">
                            <a [routerLink]="['/ref-geo-localite', refGeoCommune.localite?.id, 'view']" >{{ refGeoCommune.localite?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ref-geo-commune', refGeoCommune.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ref-geo-commune', refGeoCommune.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(refGeoCommune)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="refGeoCommunes && refGeoCommunes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
