<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ref-geo-section-heading" jhiTranslate="sidotApp.refGeoSection.home.createOrEditLabel">Create or edit a Ref Geo Section</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sidotApp.refGeoSection.sectionName" for="field_sectionName">Section Name</label>
                    <input type="text" class="form-control" name="sectionName" id="field_sectionName"
                           formControlName="sectionName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sidotApp.refGeoSection.secteur" for="field_secteur">Secteur</label>
                    <select class="form-control" id="field_secteur" name="secteur" formControlName="secteur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="refGeoSecteurOption.id === editForm.get('secteur')!.value?.id ? editForm.get('secteur')!.value : refGeoSecteurOption" *ngFor="let refGeoSecteurOption of secteurs; trackBy: trackById">{{ refGeoSecteurOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
